# 1.what is a list?how do you define it?explain with an example:
    
List: It is collection of sequential datatypes and it is mutable.
    
      Lists are ordered and having duplicate values.
        
        Lists are defined by square braces [] and seperated by commas.

In [9]:
l1=["Bablu",22,"Vizag"]
print(l1)
print(type(l1))

['Bablu', 22, 'Vizag']
<class 'list'>

# 2.Create a Stack(LIFO) and Queue(FIFO) using lists

In [10]:
stack=["maldevs","baali","mysore"]
stack.append("banglore")
stack.append("ooty")
print(stack)
print(stack.pop())
print(stack)
print(stack.pop())
print(stack)

['maldevs', 'baali', 'mysore', 'banglore', 'ooty']
ooty
['maldevs', 'baali', 'mysore', 'banglore']
banglore
['maldevs', 'baali', 'mysore']

In [11]:
queue=["maldevs","baali","mysore"]
queue.append("banglore")
queue.append("ooty")
print(queue)
print(queue.pop(0))
print(queue)
print(queue.pop(0))
print(queue)

['maldevs', 'baali', 'mysore', 'banglore', 'ooty']
maldevs
['baali', 'mysore', 'banglore', 'ooty']
baali
['mysore', 'banglore', 'ooty']

# 3.use comaprision operator  to check whether a list1 is equal to list2 or not

In [12]:
l1=[1,2,3,4]
l2=[1,2,3,4]
if l1==l2:
    print("True")
else:
    print("False")

True

# 4.remove an element in a list and show the removed element in output

In [13]:
l1=[1,2,3,4,5,6,7]
print(l1.remove(6))
print(l1)

None
[1, 2, 3, 4, 5, 7]

In [14]:
l1
print(l1.pop(2))
print(l1)

3
[1, 2, 4, 5, 7]

# 5.write a program to print max min and sum of list in an order

In [15]:
l1=[1,2,3,4,5,6]
print("maximum number in a list is:",max(l1))
print("minimum number in a list is:",min(l1))
print("sum of all numbers in a list is:",sum(l1))

maximum number in a list is: 6
minimum number in a list is: 1
sum of all numbers in a list is: 21

# 6.Write a program to accept marks of 6 students and display them in a sorted manner.

In [8]:
m1=int(input("enter the marks of a student1:"))
m2=int(input("enter the marks of a student2:"))
m3=int(input("enter the marks of a student3:"))
m4=int(input("enter the marks of a student4:"))
m5=int(input("enter the marks of a student5:"))
m6=int(input("enter the marks of a student6:"))
overall_marks=[m1,m2,m3,m4,m5,m6]
print(overall_marks)
overall_marks.sort()
print(overall_marks)

enter the marks of a student1:88
enter the marks of a student2:77
enter the marks of a student3:66
enter the marks of a student4:99
enter the marks of a student5:88
enter the marks of a student6:66
[88, 77, 66, 99, 88, 66]
[66, 66, 77, 88, 88, 99]

# 7.write a program to store seven fruits in a list entered by user

In [16]:
f1=input("enter a fruit1:")
f2=input("enter a fruit2:")
f3=input("enter a fruit3:")
f4=input("enter a fruit4:")
f5=input("enter a fruit5:")
f6=input("enter a fruit6:")
f7=input("enter a fruit7:")
fruits=[f1,f2,f3,f4,f5,f6,f7]
print(fruits)

enter a fruit1:apple
enter a fruit2:banana
enter a fruit3:camu camu
enter a fruit4:dragon fruit
enter a fruit5:edward mango
enter a fruit6:fuji apples
enter a fruit7:grape
['apple', 'banana', 'camu camu', 'dragon fruit', 'edward mango', 'fuji apples', 'grape']